.transition-button {
  background-color: rgb(245, 2, 2);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.transition-button:hover {
  background-color: darkblue;
  color: rgb(234, 21, 21);
}

.animation-box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: move 2s infinite alternate;
}



@keyframes move {
    from {
        left: 0;
    }
    to {
        left: 100px;
    }

}

.pseudo-list li:nth-child(odd) {
    background-color: #7615dd;
}
.pseudo-list li:nth-child(even) {
    background-color: #de01e6;
}

.filter-image {
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}
.filter-image:hover {
    filter: grayscale(0%);
}

.quote {
    position: relative;
    padding-left: 20px;
    font-style: italic;
  }
  
  .quote::before {
    content: '“';
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 0;
    color: lightgray;
  }
